<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  {% include "head.njk" %}
</head>
<body id="top" class="font-sans">
  {% include "nav.njk" %}

  <main class="mt-10 pb-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
    <article class="prose lg:prose-xl">
        <h1>{{ title }}</h1>
        <time datetime="{{ page.date.toISOString() }}">{{ page.date | postDate }}</time>
        <div class="pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700">
          {{ content | safe }}
        </div>
    </article>
  </main>

  {% include "footer.njk" %}
  {% include "js.njk" %}
</body>
</html>
